@charset "UTF-8";
h1 {
  background-color: darkolivegreen;
  color: white;
  text-align: center; }

.colorLetra ul li a {
  padding: 0.1rem 0.1rem;
  transition: all 0.4s linear; }

.colorLetra ul li a:hover {
  background-color: lightgreen; }

.formato {
  border: 2px solid darkgreen;
  text-align: justify; }

.formato2 {
  border: 2px solid darkgreen;
  text-align: justify; }

.formatoMaterni, .formatoTambo {
  text-align: justify;
  line-height: 1.6;
  border: 2px solid darkgreen; }

.formatoTambo {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 30px;
  margin: 30px; }

.formato {
  background-color: #eaf7a6;
  line-height: 1.6; }

ul li {
  list-style-type: none;
  lighting-color: black;
  color: black;
  font-size: 14px;
  font-weight: bold; }

ol li {
  list-style-type: none;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none; }
  ol li a {
    font-size: 14px;
    color: black;
    text-decoration: none; }

h3 {
  color: black; }

h4 {
  color: black;
  font-size: 30px; }

.padreFotos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 25px; }

.tamañoFoto {
  width: 350px;
  height: 300px;
  margin: 30px; }

/*Carrousel*/
.tamañoF {
  height: 500px;
  object-fit: contain; }

.colorFranja {
  background-color: #84A98C;
  margin-top: 80px;
  margin-bottom: 80px; }

/*Carrusel con fotitos chiquitas*/
.carrusel {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 200px; }

.carrusel ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 1015px;
  scroll-behavior: smooth; }

.carrusel-fotos {
  display: flex;
  gap: 10px;
  overflow: auto; }

.carrusel-fotos img {
  background: #84A98C;
  border: 4px solid black;
  width: 300px;
  height: 200px;
  object-fit: contain; }

.carrusel-menu {
  display: none; }

@media screen and (min-width: 500px) {
  .carrusel-fotos {
    overflow: hidden; }
  .carrusel-fotos img {
    width: 500px;
    height: 400px; }
  .carrusel-menu {
    display: block; }
  .carrusel-menu img {
    box-sizing: border-box;
    width: 50px;
    height: 40px;
    border: 5px solid black; }
  .carrusel-menu img:hover {
    border: none; } }

/*------seccionA------*/
h2 {
  color: black;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  justify-content: center;
  margin-top: 20px; }

.formato {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 30px;
  margin: 45px;
  line-height: 1.6; }

.formato2 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  line-height: 1.6;
  padding: 30px;
  margin: 30px;
  background-color: #eaf7a6; }

/*-----Maternidad*/
.seccionMat {
  grid-area: seccionMat;
  margin: 30px; }

.formatoMaterni, .formatoTambo {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 30px;
  margin: 30px;
  background-color: #eaf7a6; }

.alinearFotos {
  display: flex;
  justify-content: space-evenly; }

/*-----Tambo-----*/
.ubicacionTabla {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 30px 20px 50px; }

/*----Venta-----*/
.formatoVenta {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: justify;
  font-size: 25px;
  line-height: 1.6;
  border: 1px solid darkgreen;
  padding: 30px;
  margin: 30px;
  background-color: #eaf7a6; }

.cuadroDeVenta {
  display: inline;
  text-align: center;
  width: 200%;
  font-size: 15px; }

.agrandarLetraVenta {
  font-size: 20px;
  color: cadetblue; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

.animacion {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

/*----Contacto-------*/
.contacto {
  gap: 20px; }

.separar {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
  font-weight: 200; }

.colorform {
  background-color: #eaf7a6; }

.color-boton-contacto {
  color: white;
  background-color: darkgreen;
  border-radius: 10px; }

.centrarForm {
  margin-left: 100px;
  margin-right: 100px; }

.contTama li {
  font-size: 20px; }

.cuadroContacto {
  box-shadow: 5px 5px 5px 5px gray; }

@media (max-width: 576px) {
  .tamañoFoto {
    width: 90vw;
    height: auto;
    margin: 0px; }
  h1 {
    font-size: 20px; }
  ul li {
    font-size: 10px; }
  ol li {
    font-size: 20px; }
  ol li a {
    font-size: 20px; }
  .tamañoFoto:hover {
    height: 350px;
    width: 300px;
    margin-bottom: 5px; }
  .formato {
    font-size: 20px; }
  .formato2 {
    font-size: 20px; }
  .formatoMaterni, .formatoTambo {
    font-size: 20px; }
  .formatoVenta {
    font-size: 20px; }
  .formatoTambo {
    font-size: 20px; }
  .tamañoFoto {
    width: 250px;
    height: 200px;
    margin: 30px;
    transition: height 0.1s, width 0.8s; }
  .agrandarLetraVenta {
    font-size: 15px; }
  .centrarForm {
    margin-left: 50px;
    margin-right: 50px; } }
