
ul li{
    list-style-type: none;
    color: $color-negro;
    font-size: $letra14;
    font-weight: bold;
}
 

ol li {
    list-style-type: none;
    color: $color-negro;
    font-size: $letra14;
    font-weight: bold;
    text-decoration: none;

}

h3{
color: $color-negro;
}


.espacio{
    margin-bottom: 50px;
}