


 h1{
    background-color: darkolivegreen ;
    color: white;
    text-align: center;

    }

.colorLetra ul li a{
    padding: 0.1rem 0.1rem;
    transition: all 0.4s linear;
    margin-left: 40px;
} 

.colorLetra ul li a:hover{
    background-color: lightgreen

}










